/*
  Edit this as you want. 
  Beware of the universal selector *{}; as this will f shit up. Seriously. Just don't do it. Your browser will more than likely slow down and become unusable.
*/
span, p, h1, h2, h3, h4, h5, h6, img, a, input, button, textarea, select, cite, iframe, object, abbr, strong, em, small, address, blockquote, ul, li, dl, dt, dd, code {
  filter: blur(1px) !important;
  -webkit-filter: blur(1px) !important;
}

div {
  color: rgba(0, 0, 0, 0) !important;
  text-shadow: 0 0 5px #000 !important;
}